<section class="contactMe" #contactContainer id="contact">
  <header class="contact-me-header">
    <img class="contact-me-header-logo" src="Images/logo.png" #contactLogo />
    <h1 class="contact-me-header-title" #contactHeadline>Work with me</h1>
  </header>

  <div class="contact-me-content-wrapper">
    <div class="project-card" #projectContainer>
      <h2 class="project-title" #projectHeadline>Have a project?</h2>
      <p class="project-description" #projectText>
        If you have an interesting project in mind, don't hesitate to contact me
        and figure out how I can help.
      </p>
    </div>

    <div class="form-card" #formContainer>
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="contact-form"
      >
        <input
          type="text"
          formControlName="name"
          class="input-field"
          placeholder="Name"
          required
        />
        <input
          type="text"
          formControlName="budget"
          class="input-field"
          placeholder="Budget"
          required
        />
        <input
          type="email"
          formControlName="email"
          class="input-field"
          placeholder="Email address"
          required
        />
        <textarea
          class="message-field"
          formControlName="message"
          placeholder="Enter your message"
          required
        ></textarea>
        <button type="submit" class="submit-button">Submit</button>
      </form>
    </div>
  </div>
</section>
