<section class="features">
  <div class="feature-container">
    <div class="feature-section" #featureSection1>
      <div class="feature-image-container brand-guide" #featureGif>
        <img src="gifs/heroGif1.gif" alt="Brand identity design collection" />
      </div>
      <div class="feature-text" #featureText1>Let's tell your brand story!</div>
    </div>

    <div class="feature-section" #featureSection2>
      <div class="feature-image-container homes-logo" #featureGif1>
        <img
          src="gifs/heroGif2.gif"
          alt="Brand visual identity design for Homes"
        />
      </div>
      <div class="feature-text" #featureText2>
        Ready to make some magic happen?
      </div>
    </div>

    <div class="feature-section" #featureSection3>
      <div class="feature-image-container homes-logo" #featureGif2>
        <img
          src="gifs/heroGif3.gif"
          alt="Brand visual identity design for a fintech payment app"
        />
      </div>
    </div>
  </div>
</section>
