.main-body {
  background-color: #ffffef;
  max-width: 100%;
  height: 87vh;
  margin-top: 75px;
  padding-top: 20px;
}

.logo-detail-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 1rem 5rem;
  gap: 2rem;
  font-family: "Inter", sans-serif;
  background-color: #ffffef;
}

.back-to-store {
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
}

.store-btn {
  background-color: #005840;
  color: white;
  border: none;
  padding: 1rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 7.5rem;
}

.store-btn:hover {
  color: #9dff91;
  transform: translateY(-1px);
}

.logo-image-container {
  background-color: #ffffef;
  border-radius: 8px;
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo-image {
  max-width: 100%;
  height: auto;
}

.logo-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 30px;
  flex: 1;
}

.logo-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.original-price {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.sale-price {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}

.logo-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin: 0;
}

.add-to-cart-button {
  background-color: #005840;
  color: #fcfcd7;
  border: none;
  padding: 20px 8px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 30%;
  transition: background-color 0.2s;
  margin-top: 150px;
}

.add-to-cart-button:hover {
  color: #9dff91;
}

@media screen and (max-width: 920px) {
  .logo-detail-container {
    flex-direction: column;
    padding: 2rem;
    height: auto;
    margin-top: 50px;
    gap: 1rem;
  }

  .logo-image-container {
    padding: 1rem;
  }

  .logo-info {
    padding-top: 15px;
    padding-left: 22px;
  }
  .add-to-cart-button {
    margin-top: 0px;
  }

  .logo-title {
    font-size: 1.8rem;
  }

  .original-price {
    font-size: 1.2rem;
  }

  .sale-price {
    font-size: 1.5rem;
  }

  .logo-description {
    font-size: 1rem;
  }
}
