.logo-detail-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 69vh;
  margin: 0 auto;
  padding: 5rem;
  gap: 2rem;
  margin-top: 75px;
  font-family: "Inter", sans-serif;
  background-color: #ffffef;
}

.logo-image-container {
  background-color: #ffffef;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo-image {
  max-width: 100%;
  height: auto;
}

.logo-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 30px;
  flex: 1;
}

.logo-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.original-price {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.sale-price {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}

.logo-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .logo-detail-container {
    flex-direction: column;
    padding: 2rem;
    height: auto;
    margin-top: 50px;
    gap: 1rem;
  }

  .logo-image-container {
    padding: 1rem;
  }

  .logo-info {
    padding-top: 15px;
    padding-left: 22px;
  }

  .logo-title {
    font-size: 1.8rem;
  }

  .original-price {
    font-size: 1.2rem;
  }

  .sale-price {
    font-size: 1.5rem;
  }

  .logo-description {
    font-size: 1rem;
  }
}
