<app-navbar />
<div class="main-body">
  <div class="back-to-store">
    <a href="/logo-store" class="store-btn">Back To Store</a>
  </div>
  <div class="logo-detail-container">
    <div class="logo-image-container">
      <img
        [src]="logoDetail.imageSrc"
        [alt]="logoDetail.name"
        class="logo-image"
      />
    </div>

    <div class="logo-info">
      <h1 class="logo-title">{{ logoDetail.name }}</h1>

      <div class="price-container">
        <span class="original-price" *ngIf="logoDetail.originalPrice">
          ${{ logoDetail.originalPrice.toFixed(2) }}
        </span>
        <span class="sale-price">${{ logoDetail.salePrice.toFixed(2) }}</span>
      </div>

      <div class="details" style="margin-top: 10px">
        <h2 style="color: #333; font-size: 24px">• Product Details</h2>
        <p class="logo-description" *ngIf="logoDetail.description">
          → {{ logoDetail.description }}
        </p>
        <p class="logo-description">
          → Category: {{ logoDetail.category.name }}
        </p>
        <p class="logo-description">
          → Dimensions: {{ logoDetail.category.width }}px x
          {{ logoDetail.category.height }}px
        </p>
      </div>

      <button class="add-to-cart-button" (click)="addToCart(logoDetail)">
        Add to Cart
      </button>
    </div>
  </div>
</div>
