.custom-logo-container {
  background-color: #ffffef;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 98vh;
}

.custom-logo-header {
  margin-top: 20px;
  text-align: center;
  padding: 2rem 1rem;
}

.custom-logo-header h1 {
  font-size: 36px;
  color: #005840;
  font-weight: 600;
  margin-bottom: 1rem;
}

.custom-logo-header p {
  font-size: 20px;
  color: #005840;
  max-width: 600px;
  margin: 0 auto;
}

.logo-request-container {
  width: 80%;
  height: auto;
  max-width: 1225px;
  padding: 0 1rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.custom-logo-gif {
  height: auto;
  object-fit: fit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 180px;
}

.custom-logo-gif {
  width: 35%;
  height: 100%;
  border-radius: 50px;
  opacity: 0.5;
}

.form-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid #005840;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 96%;
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #005840;
  border-radius: 5px;
  font-size: 1rem;
}

.message-field {
  width: 96%;
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #005840;
  border-radius: 5px;
  min-height: 150px;
  resize: vertical;
  font-family: inherit;
  font-size: 1rem;
}

.input-field:hover,
.message-field:hover {
  background-color: #ffffef;
}

.input-field:focus,
.message-field:focus {
  background-color: #ffffef;
  color: #005840;
  border: 2px solid #005840;
  outline: none;
}

::placeholder {
  color: #005840;
  opacity: 0.5;
}

.submit-button {
  width: 101%;
  padding: 1rem;
  background-color: #005840;
  color: #ffffef;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-button:hover {
  color: #9dff91;
  transform: translateY(-2px);
}

@media screen and (max-width: 920px) {
  .custom-logo-header {
    padding: 1.5rem 1rem;
  }

  .custom-logo-header h1 {
    font-size: 28px;
  }

  .custom-logo-header p {
    font-size: 16px;
    max-width: 90%;
  }

  .logo-request-container {
    width: 95%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .custom-logo-gif {
    width: calc(70% - 100px);
    margin-right: 0;
  }

  .form-card {
    width: 85%;
    padding: 1.5rem;
  }

  .input-field,
  .message-field {
    width: 94%;
    font-size: 0.9rem;
  }

  .submit-button {
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
  }
}
