.navbar {
  margin: 0;
  padding: 0px 110px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 1s ease;
  background-color: #ffffef;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}

.navbar.expand {
  box-shadow: none;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 77px;
  padding: 0 20px 0 0;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.navbar-left img {
  max-height: 43px;
  cursor: pointer;
  margin-left: 35px;
  anchor-name: --my-anchor;
}

.navbar-left a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #005840;
  transition: color 0.3s ease;
  cursor: pointer;
  margin-left: 10px;
  transform: translateY(13px);
  position: absolute;
  position-anchor: --my-anchor;
}

.navbar-right ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 550px;
  gap: 37px;
}

.navbar-right ul li {
  margin-left: 7px;
}

.navbar-right ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #005840;
  transition: color 0.3s ease;
  padding-bottom: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.navbar-right ul li a:hover {
  color: #005840;
  border-bottom: 2px solid #005840;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #005840;
}

.cart-icon:hover {
  cursor: pointer;
}

.cart-icon img {
  width: 22px;
  height: 22px;
  opacity: 0.8;
  anchor-name: --cart;
  transform: translateY(3px);
  margin-left: 10px;
}

.cart-count {
  position: absolute;
  z-index: 1;
  font-size: 10px;
  background-color: #fcfcd7;
  border-radius: 50%;
  border: 1px solid #da012d;
  width: 13px;
  height: 13px;
  color: #da012d;
  font-weight: 800;
  position-anchor: --cart;
  transform: translateX(25px);
  text-align: center;
}

@media screen and (max-width: 1430px) {
  .navbar-right ul {
    margin-left: 180px;
  }
}

@media screen and (max-width: 920px) {
  .navbar {
    padding: 0;
    position: fixed;
    z-index: 1000;
    max-width: 98vw;
    border: none;
    box-shadow: none;
  }

  .navbar-content {
    padding: 0 1.5rem;
    min-height: 65px;
    max-width: 100%;
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-left img {
    margin-left: 0;
    max-height: 38px;
  }

  .navbar-left a {
    display: none;
  }

  .navbar-right {
    display: none;
    position: fixed;
    top: 65px;
    left: 0;
    width: 92%;
    max-height: 35vh;
    background-color: #ffffef;
    padding: 1rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-right ul {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1.5rem;
    gap: 8px;
  }

  .navbar-right ul li {
    margin: 0;
    width: calc(100% - 2rem);
    text-align: right;
  }

  .navbar-right ul li a {
    margin: 0;
    font-size: 16px;
    display: inline-block;
    padding: 0.75rem 0;
  }

  .menu-toggle {
    display: block;
    padding: 0.75rem;
    font-size: 32px;
    margin-left: calc(99% - 120px);
  }

  .show-menu {
    display: block !important;
  }

  .navbar-right ul li a:hover {
    border-bottom: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar-right ul {
    margin-left: 0;
  }
}
