<main class="landing-page">
  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-left">
        <img src="/Images/navbar-logo.avif" alt="Logo" />
      </div>
      <div class="navbar-right">
        <ul>
          <li><a href="#home">Work</a></li>
          <li><a href="#about">Testimonials</a></li>
          <li><a href="#services">About</a></li>
          <li><a href="#portfolio">Contact</a></li>
          <li><a href="#contact">Logo Store</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="hero-section">
    <main class="main-content">
      <h1 class="headline">
        Crafting simple, effective<br />
        <span class="headline-brands">Brands</span> for tech innovators
      </h1>
      <p class="subheadline">
        We partner with fintech, SaaS, and AI startups to transform technical
        complexities into compelling brand identities that resonate with your
        audience.
      </p>
      <a href="#" class="cta-button">Get in touch</a>
      <p class="spots-text">1 available spot</p>
    </main>
  </section>

  <section class="features">
    <div class="feature-container">
      <div class="feature-section">
        <div class="feature-image-container brand-guide">
          <img src="gifs/heroGif1.gif" />
        </div>
        <div class="feature-text">Let's tell your brand story!</div>
      </div>

      <div class="feature-section">
        <div class="feature-image-container homes-logo">
          <img src="gifs/heroGif2.gif" />
        </div>
        <div class="feature-text">Ready to make some magic happen?</div>
      </div>

      <div class="feature-section">
        <div class="feature-image-container homes-logo">
          <img src="gifs/heroGif3.gif" />
        </div>
      </div>
    </div>
  </section>

  <section class="selectedWork">
    <div class="selected-work-container">
      <header class="selected-work-header">
        <div>
          <img class="contact-me-header-logo" src="Images/logo.png" />
        </div>
        <h1>Selected works</h1>
      </header>

      <div class="works-grid">
        <div class="work-item">
          <div class="work-overlay">
            <img src="Images/zoox.avif" />
          </div>
        </div>

        <div class="work-item">
          <div class="work-overlay"><img src="Images/homes.avif" /></div>
        </div>

        <div class="work-item">
          <div class="work-overlay"><img src="Images/elephant.avif" /></div>
        </div>

        <div class="work-item">
          <div class="work-overlay"><img src="gifs/evolve.gif" /></div>
        </div>

        <div class="work-item">
          <div class="work-overlay"><img src="gifs/sophony.gif" /></div>
        </div>

        <div class="work-item">
          <div class="work-overlay"><img src="Images/baytai.avif" /></div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials">
    <div class="testimonials-container">
      <header class="testimonials-header">
        <div>
          <img class="contact-me-header-logo" src="Images/logo.png" />
        </div>
        <h1>What my clients say</h1>
      </header>

      <div class="testimonials-card">
        <div class="testimonials-grid">
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="clients/client1.png" />
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                "Ahmad's design for our firm was better than expected. He
                listened to what we wanted and created numerous versions of the
                logo that we use each day. I strongly recommend Ahmad enough for
                any branding needs - you will not be disappointed with the
                final."
              </p>
              <div class="testimonial-author">Jordan S. Cohen</div>
            </div>
          </div>

          <div class="testimonial">
            <div class="testimonial-image">
              <img src="clients/client2.png" />
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                "The artwork was incredible and unique. I cannot recommend Ahmad
                enough. He was quick, responsive, and extremely professional. He
                is a true artist with a big heart. It's great to collaborate
                with him again!"
              </p>
              <div class="testimonial-author">Danny Kevin Ryan</div>
            </div>
          </div>

          <div class="testimonial">
            <div class="testimonial-image">
              <img src="clients/client3.png" />
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                "We needed a memorable logo for a lifestyle, fitness and couples
                therapy company, reflecting everything that distinguishes our
                company claim to be well established and appear trustworthy.
                Ahmad listened and delivered a timeless, beautiful logo that
                still anchors our clients identity."
              </p>
              <div class="testimonial-author">Hendrik Stirke</div>
            </div>
          </div>

          <div class="testimonial">
            <div class="testimonial-image">
              <img src="clients/client4.jpg" />
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                I recently had the pleasure of collaborating with Ahmad and his
                designs were precisely what we were hoping to receive. As an
                added bonus, Ahmad is a consummate professional who took the
                time to show us a clear path of logic around his design process.
              </p>
              <div class="testimonial-author">Jerrisa Williams</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="aboutMe">
    <div class="about-me-container">
      <header class="about-me-header">
        <div>
          <img class="contact-me-header-logo" src="Images/logo.png" />
        </div>
        <h1>About me</h1>
      </header>

      <div class="aboutme-grid">
        <div class="aboutme-card intro-card">
          <h2>
            I create logos and brand identities that make brands stand out and
            shine.
          </h2>
          <p>
            Hey there, I'm Ahmad, a creative wizard specializing in crafting
            sleek and powerful logos and brand identities. My secret sauce? A
            love for all things minimalistic, where less is definitely more. I'm
            all about using colors, shapes, and icons to tell stories, make
            serious magic and make your brand shine. I'm a firm believer in the
            art of subtlety and simplicity. By tapping into the psychology of
            color, the symbolism of shapes, and the language of visuals, I can
            dig deep into awesome layers that you can reach out and touch. Let's
            go on this creative design magic together!
          </p>
        </div>

        <div class="aboutme-card stats-card">
          <div class="stats-number">100+</div>
          <div class="stats-text">
            I have worked with more than 100+ clients worldwide
          </div>
        </div>

        <div class="aboutme-card experience-card">
          <div class="stats-number">10+</div>
          <div class="stats-text">Years of experience</div>
        </div>

        <div class="aboutme-card vision-card">
          <p>
            I listen to your <em>vision</em>: What are you passionate about? How
            can we create a <em>brand</em> that reflects your
            <em>values</em> and attracts your customers?
          </p>
        </div>

        <div class="aboutme-card portfolio-card">
          <p>
            My work has been <em>featured</em> on many design platforms and
            design books, such as <em>Behance, Dribbble, Logo Lounge</em> and
            more.
          </p>
        </div>

        <div class="aboutme-card views-card">
          <div class="views-number">406,735+</div>
          <div class="stats-text">Project views</div>
        </div>
      </div>
    </div>
  </section>

  <section class="brands">
    <div class="brands-container">
      <div class="brands-header">
        <div>
          <img class="contact-me-header-logo" src="Images/logo.png" />
        </div>
        <h1>Brand sprints for startups</h1>
        <p>
          Do you need a brand that stands out from the crowd and resonates with
          your target audience? Do you want to avoid wasting time and money on
          endless revisions and feedback loops? Do you want to launch your brand
          in just two weeks?
        </p>
        <a href="#" class="brand-guide-cta-button">Try Brand Sprint</a>
      </div>

      <div class="brands-grid">
        <div class="brands-card">
          <div class="brands-card-image">
            <img src="Images/brandSprint1.png" />
          </div>
          <div class="brands-card-content">
            <h3 class="brands-card-title">Grow Brand Sprint</h3>
          </div>
        </div>

        <div class="brands-card">
          <div class="brands-card-image">
            <img src="Images/brandSprint2.png" />
          </div>
          <div class="brands-card-content">
            <h3 class="brands-card-title">Noblecare Brand Sprint</h3>
          </div>
        </div>

        <div class="brands-card">
          <div class="brands-card-image">
            <img src="Images/brandSprint3.png" />
          </div>
          <div class="brands-card-content">
            <h3 class="brands-card-title">Proplus Brand Sprint</h3>
          </div>
        </div>

        <div class="brands-card">
          <div class="brands-card-image">
            <img src="Images/brandSprint4.png" />
          </div>
          <div class="brands-card-content">
            <h3 class="brands-card-title">Sophony Brand Sprint</h3>
          </div>
        </div>

        <div class="brands-card">
          <div class="brands-card-image">
            <img src="Images/brandSprint5.png" />
          </div>
          <div class="brands-card-content">
            <h3 class="brands-card-title">Deposit Brand Sprint</h3>
          </div>
        </div>

        <div class="brands-card">
          <div class="brands-card-image">
            <img src="Images/brandSprint6.png" />
          </div>
          <div class="brands-card-content">
            <h3 class="brands-card-title">Highradius Brand Sprint</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="logoStore">
    <div class="logo-store-container">
      <div>
        <img class="contact-me-header-logo" src="Images/logo.png" />
      </div>

      <h1 class="store-heading">Logo store</h1>

      <p class="store-description">
        Tired of scouring the internet for the perfect logo? Look no further!
        Our brand identity design studio has curated a collection of ready-made
        logos that are not only visually stunning but also affordable. Whether
        you're a small biz, a startup, or a big-shot enterprise, our pre-made
        logos are the perfect sidekick to kickstart your branding journey.
      </p>

      <button class="explore-button">Explore Logos</button>
    </div>
  </section>

  <section class="brandGuide">
    <div class="brand-guide-container">
      <div>
        <img class="contact-me-header-logo" src="Images/logo.png" />
      </div>

      <h1 class="brand-guide-title">Brand Guideline Template</h1>

      <p class="brand-guide-description">
        Are you tired of sifting through lackluster brand guidelines? Look no
        further! Our meticulously crafted 80-page brand guideline template is a
        game-changer for designers. Our template exudes elegance, just like a
        high-end design agency. Say goodbye to bland guidelines!
      </p>

      <a href="#" class="brand-guide-cta-button">Buy Template</a>

      <div class="brand-guide-template-preview">
        <img src="Images/template.avif" />
      </div>
    </div>
  </section>

  <section class="contactMe">
    <header class="contact-me-header">
      <img class="contact-me-header-logo" src="Images/logo.png" />
      <h1 class="contact-me-header-title">Work with me</h1>
    </header>

    <div class="contact-me-content-wrapper">
      <div class="project-card">
        <h2 class="project-title">Have a project?</h2>
        <p class="project-description">
          If you have an interesting project in mind, don't hesitate to contact
          me and figure out how I can help.
        </p>
      </div>

      <div class="form-card">
        <form>
          <input type="text" class="input-field" placeholder="Name" required />
          <input
            type="text"
            class="input-field"
            placeholder="Budget"
            required
          />
          <input
            type="email"
            class="input-field"
            placeholder="Email address"
            required
          />
          <textarea
            class="message-field"
            placeholder="Enter your message"
            required
          ></textarea>
          <button type="submit" class="submit-button">Submit</button>
        </form>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <svg class="footer-logo" viewBox="0 0 100 100"></svg>
        <span>Ahmed Creatives © 2024</span>
      </div>
      <div class="social-links">
        <a href="#" class="social-link">1</a>
        <a href="#" class="social-link">2</a>
        <a href="#" class="social-link">3</a>
        <a href="#" class="social-link">4</a>
        <a href="#" class="social-link">5</a>
      </div>
    </div>
  </footer>
</main>
