.landing-page {
  font-family: "Inter", sans-serif;
}

.cta-button:hover {
  color: rgb(157, 255, 145);
}

.hero-section,
.features,
.selectedWork,
.testimonials,
.aboutMe {
  background-color: #ffffef;
}

.main-content {
  text-align: center;
  padding: 78px 78px;
  max-width: 1223px;
  margin: 0 auto;
}

.headline {
  font-size: 64px;
  font-weight: 400;
  color: #005840;
  line-height: 1.2;
  margin-bottom: 1rem;
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}

.headline-brands {
  font-style: italic;
}

.subheadline {
  font-size: 14px;
  color: #005840;
  line-height: 1.6;
  max-width: 565px;
  margin: 40px auto 2.5rem auto;
}

.cta-button {
  color: #fcfcd2;
  background-color: #005840;
  padding: 25px 5.4rem;
  border-radius: 2rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

.spots-text {
  color: #005840;
  font-size: 0.9rem;
  transform: translateY(-10px);
}

.features {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.feature-container {
  max-width: 1224px;
  margin: 0 auto;
  transform: translateY(-50px);
}

.feature-section {
  margin-bottom: 4rem;
}

.feature-image-container {
  width: 100%;
  height: 655px;
  border-radius: 12px;
  overflow: hidden;
}

.feature-image-container.brand-guide {
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}

.feature-image-container.homes-logo {
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}

.headline.show,
.feature-image-container.brand-guide.show,
.feature-image-container.homes-logo.show,
.feature-text.show {
  transform: translateY(0);
  opacity: 1;
}

.feature-text {
  text-align: center;
  color: #005840;
  font-size: 3rem;
  padding-top: 45px;
  padding-bottom: 22px;
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}

/*------------- Selected Work */
.selectedWork {
  padding: 0;
  transform: translateY(-50px);
}

.selected-work-container {
  max-width: 1200px;
  height: 1450px;
  margin: 0 auto;
}

.selected-work-header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.selected-work-header h1 {
  color: #005840;
  font-size: 30px;
  font-weight: 400;
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}
.selected-work-header h1.show,
.work-overlay.show {
  transform: translateY(0);
  opacity: 1;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  gap: 1.5rem;
}

.work-item {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.work-item:hover {
  transform: translateY(0px);
}

.work-item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  height: 470px;
  margin-bottom: 10px;
}

.work-item:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  height: 413px;
}

.work-item:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
  height: 388px;
  transform: translateY(160px);
}

.work-item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
  height: 440px;
  transform: translateY(107px);
}

.work-item:nth-child(5) {
  grid-column: 1;
  grid-row: 3;
  height: 440px;
  transform: translateY(238px);
}

.work-item:nth-child(6) {
  grid-column: 2;
  grid-row: 3;
  height: 440px;
  transform: translateY(238px);
}

.work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

/*  ------ Testimonials*/
.testimonials {
  padding: 2rem;
  line-height: 1.6;
}

.testimonials-container {
  max-width: 1220px;
  margin: 0 auto;
}

.testimonials-header {
  text-align: center;
  margin-bottom: 3rem;
}

.testimonials-header h1 {
  color: #005840;
  font-size: 30px;
  font-weight: 400;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.testimonials-card {
  background-color: #005840;
  border-radius: 1rem;
  padding: 5rem 2rem;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}

.testimonial {
  display: flex;
  gap: 0.2rem;
  color: white;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.testimonials-header h1.show,
.testimonial.show {
  transform: translateY(0);
  opacity: 1;
}

.testimonial-image {
  margin-left: 18px;
}

.testimonial-image img {
  border-radius: 10px;
  flex-shrink: 0;
}

.testimonial-image img:hover {
  cursor: zoom-in;
}

.testimonial-content {
  flex-grow: 1;
}

.testimonial-text {
  transform: translateY(-18px);
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.testimonial-author {
  color: #4ade80;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  padding-left: 1rem;
  transform: translateX(5px);
}

.testimonial-text:nth-child(odd) {
  margin-left: 15px;
}

.testimonial-author:nth-child(2) {
  padding-left: 18px;
}

.testimonial-author::before {
  content: "-";
  position: absolute;
  left: 5px;
}

/*------------About Me*/
.aboutMe {
  padding: 2rem 2rem 0;
  line-height: 1.6;
}

.about-me-container {
  max-width: 1222px;
  margin: 0 auto;
}

.about-me-header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about-me-header h1 {
  color: #005840;
  font-size: 30px;
  font-weight: 400;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.aboutme-card.intro-card,
.aboutme-card.stats-card,
.aboutme-card.experience-card,
.aboutme-card.vision-card,
.aboutme-card.portfolio-card,
.aboutme-card.views-card {
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.aboutme-card.intro-card.show,
.aboutme-card.stats-card.show,
.aboutme-card.experience-card.show,
.aboutme-card.vision-card.show,
.aboutme-card.portfolio-card.show,
.aboutme-card.views-card.show {
  transform: translateY(0);
  opacity: 1;
}

.about-me-header h1.show,
.aboutme-card.show,
.intro-card h2.show,
.intro-card p.show,
.stats-number.show,
.stats-text.show,
.vision-card p.show,
.portfolio-card p.show,
.views-number.show,
.views-card .stats-text.show {
  transform: translateY(0);
  opacity: 1;
}

.aboutme-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 1.4rem;
}

.aboutme-card {
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.intro-card {
  background-color: #005840;
  color: white;
  height: 535px;
  width: 610px;
  padding: 50px;
  grid-row: span 2;
}

.intro-card h2 {
  color: #9dff91;
  font-size: 40px;
  line-height: normal;
  margin-left: 16px;
  margin-bottom: 5.4rem;
  font-weight: 400;
  margin-top: 25px;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.intro-card p {
  margin-left: 18px;
  font-size: 18px;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.stats-card {
  background-color: #bae6fd;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stats-number {
  font-size: 120px;
  font-weight: 500;
  color: #007982;
  margin-bottom: 0.5rem;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.stats-text {
  color: #007982;
  font-size: 1rem;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.experience-card {
  background-color: #fcd34d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 6px;
  height: 240px;
}

.vision-card {
  margin-top: 2px;
  height: 265px;
  background-color: #fecdd3;
  padding: 2.5rem;
  padding-left: 70px;
  grid-column: 1 / -1;
  font-size: 44px;
  color: #704f5b;
}

.vision-card p,
.portfolio-card p {
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.vision-card em {
  font-style: italic;
  color: #704f5b;
}

.portfolio-card {
  background-color: #bae6fd;
  padding: 2rem;
  padding-left: 70px;
  color: #007982;
  font-size: 32px;
  transform: translateY(-10px);
}

.portfolio-card em {
  font-style: italic;
}

.views-card {
  background-color: #005940;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-10px);
}

.views-number {
  color: #9dff91;
  font-size: 72px;
  font-weight: 400;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.views-card .stats-text {
  font-weight: 400;
  color: #9dff91;
  transform: translateY(70px);
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

/*------------------Brands*/
.brands {
  background-color: #fcfcd2;
  min-width: 100%;
}
.brands-container {
  max-width: 1223px;
  height: 1240px;
  margin: 0 auto;
}

.brands-header {
  text-align: center;
  margin-bottom: 3rem;
}

.brands-header .brands-cta-button {
  display: inline-block;
  background-color: rgb(0, 87, 63);
  color: #fcfcd2;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}
.brands-header .brands-cta-button:hover {
  color: #9dff91;
}

.brands-header img {
  margin-top: 2.1rem;
}

.brands-header h1 {
  color: #005840;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 3rem;
}

.brands-header p {
  color: #005840;
  max-width: 810px;
  margin: 0 auto 2rem;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
}

.brands-header img,
.brands-header h1,
.brands-header p,
.brands-header .brands-cta-button,
.brands-card {
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.brands-header img.show,
.brands-header h1.show,
.brands-header p.show,
.brands-header .brands-cta-button.show,
.brands-card.show {
  transform: translateY(0);
  opacity: 1;
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.brands-card {
  overflow: hidden;
  transition: transform 0.3s;
}

.brands-card-image {
  width: 400px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands-card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fit;
  border-radius: 1rem;
}

.brands-card-image img:hover {
  cursor: zoom-in;
}

.brands-card-title {
  font-size: 18px;
  font-weight: 500;
  color: #005840;
  transform: translateY(-19px);
  margin-bottom: 0.2rem;
}

/*------------------ Logo Store*/
.logo-store-container {
  max-width: 1223px;
  margin: 0 auto;
  padding: 45px 20px;
  text-align: center;
  background-color: #ffffef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  width: 40px;
  height: 37px;
  background-color: #4ade80;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.logo-icon svg {
  width: 40px;
  height: 37px;
}

.store-heading {
  font-size: 32px;
  color: #005840;
  margin-bottom: 24px;
  font-weight: 400;
}

.store-description {
  font-size: 18px;
  line-height: 1.7;
  color: #005840;
  max-width: 810px;
  margin: 0 auto 40px;
}

.explore-button {
  background-color: #065f46;
  color: #ffffef;
  font-size: 1.25rem;
  padding: 18px 45px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.explore-button:hover {
  color: #9dff91;
}

.contact-me-header-logo,
.store-heading,
.store-description,
.explore-button {
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.contact-me-header-logo.show,
.store-heading.show,
.store-description.show,
.explore-button.show {
  transform: translateY(0);
  opacity: 1;
}

/*--------------Brand Guide*/

.brandGuide {
  background-color: #fcfcd2;
  padding: 2rem;
  margin-top: 8px;
}

.brand-guide-container {
  max-width: 1223px;
  margin: 0 auto;
  text-align: center;
}

.brand-guide-container .contact-me-header-logo,
.brand-guide-title,
.brand-guide-description,
.brand-guide-template-preview img {
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.brand-guide-container .contact-me-header-logo.show,
.brand-guide-title.show,
.brand-guide-description.show,
.brand-guide-cta-button.show,
.brand-guide-template-preview img.show {
  transform: translateY(0);
  opacity: 1;
}

.brand-guide-title {
  font-size: 32px;
  color: #005840;
  margin-bottom: 24px;
  font-weight: 400;
}

.brand-guide-description {
  font-size: 18px;
  line-height: 1.7;
  color: #005840;
  max-width: 810px;
  margin: 0 auto 40px;
}

.brand-guide-cta-button {
  background-color: #065f46;
  color: #ffffef;
  font-size: 1.25rem;
  padding: 18px 45px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  transform: translateY(100px);
  transition: 2s;
  text-decoration: none;
  opacity: 0;
}
.brand-guide-cta-button:hover {
  color: #9dff91;
}

.brand-guide-template-preview {
  width: 100%;
  height: 575px;
  margin-top: 90px;
  margin-bottom: 80px;
  background-color: #f0f0f0;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------Contact me*/
.contactMe {
  background-color: #fffdf4;
  padding: 2rem 2rem 1rem;
}

.contact-me-header {
  text-align: center;
  margin-bottom: 3rem;
}

.contact-me-header-logo {
  width: 40px;
  height: 37px;
}

.contact-me-header-title {
  color: #005940;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 65px;
}

.contact-me-content-wrapper {
  max-width: 1223px;
  height: 540px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.project-card {
  background-color: #005940;
  padding: 1rem;
  border-radius: 1.5rem;
}

.project-title {
  font-size: 64px;
  color: #9dff91;
  font-weight: 400;
  margin-bottom: 15rem;
  margin-left: 44px;
}

.project-description {
  font-size: 24px;
  line-height: 1.5;
  margin-left: 47px;
  font-weight: normal;
  color: #fffdf4;
}

.form-card {
  background-color: #9dff91;
  padding: 3.3rem 3.9rem 2.5rem 1.8rem;
  border-radius: 1.5rem;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.contact-me-header-logo,
.contact-me-header-title,
.project-card,
.project-title,
.project-description {
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.contact-me-header-logo.show,
.contact-me-header-title.show,
.project-card.show,
.project-title.show,
.project-description.show,
.form-card.show {
  transform: translateY(0);
  opacity: 1;
}

.input-field {
  width: 100%;
  padding: 17px;
  margin-bottom: 40px;
  border: none;
  border-radius: 0.5rem;
  font-size: 14px;
  background-color: #ffffef;
  font-family: "Inter", sans-serif;
}

.input-field:hover,
.message-field:hover {
  background-color: #fcfcd2;
}

.input-field:focus,
.message-field:focus {
  background-color: #fcfcd2;
}

.message-field {
  width: 100%;
  height: 62px;
  padding: 1rem;
  margin-top: 5px;
  margin-bottom: 26px;
  border: none;
  border-radius: 0.5rem;
  font-size: 14px;
  resize: vertical;
  background-color: #ffffef;
  font-family: "Inter", sans-serif;
}

.submit-button {
  background-color: #005940;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #002b1d;
}

/*---------Footer*/
.footer {
  background-color: #fcfcd7;
  padding: 0.1rem 5rem 1rem;
}

.footer-container {
  background-color: #002b1d;
  padding: 7.5rem 5rem;
  margin: 0 59px;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1223px;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.footer-container.show {
  transform: translateY(0);
  opacity: 1;
}
.footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logo {
  width: 40px;
  height: 37px;
}

.social-links {
  display: flex;
  gap: 6rem;
}
