<section class="logoStore">
  <div class="logo-store-container" #storeContainer>
    <div>
      <img class="contact-me-header-logo" src="Images/logo.png" #storeLogo />
    </div>

    <h1 class="store-heading" #storeHeadline>Logo store</h1>

    <p class="store-description" #storeText>
      Tired of scouring the internet for the perfect logo? Look no further! Our
      brand identity design studio has curated a collection of ready-made logos
      that are not only visually stunning but also affordable. Whether you're a
      small biz, a startup, or a big-shot enterprise, our pre-made logos are the
      perfect sidekick to kickstart your branding journey.
    </p>

    <button class="explore-button" #storeButton (click)="navigateTologoStore()">Explore Logos</button>
  </div>
</section>
