<section class="hero-section">
  <main class="main-content" #heroSection>
    <h1 class="headline" #headline>
      Crafting simple, effective<br />
      <span class="headline-brands">Brands</span> for tech innovators
    </h1>
    <p class="subheadline">
      We partner with fintech, SaaS, and AI startups to transform technical
      complexities into compelling brand identities that resonate with your
      audience.
    </p>
    <a href="mailto:bilalsubhanii@outlook.com" class="cta-button"
      >Get in touch</a
    >
    <p class="spots-text">3 available spot</p>
  </main>
</section>
