.footer {
  background-color: #fcfcd7;
  padding: 0.1rem 1rem 1rem;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}

.footer-container {
  background-color: #002b1d;
  padding: 7.5rem 5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1070px;
  width: 100%;
  transform: translateY(100px);
  transition: 1.5s;
  opacity: 0;
}

.footer-container.show {
  transform: translateY(0);
  opacity: 1;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logo {
  width: 40px;
  height: 37px;
}

.social-links {
  display: flex;
  gap: 6rem;
}

@media screen and (max-width: 920px) {
  .footer {
    padding: 0.1rem 1rem 1rem;
  }

  .footer-container {
    padding: 3rem 2rem;
    margin: 0 20px;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-links {
    gap: 1.5rem;
  }
}
