<section class="aboutMe" id="about">
  <div class="about-me-container" #aboutMeContainer>
    <header class="about-me-header">
      <div>
        <img class="contact-me-header-logo" src="Images/logo.png" />
      </div>
      <h1 #aboutMeHeadline>About me</h1>
    </header>

    <div class="aboutme-grid">
      <div class="aboutme-card intro-card" #introContainer>
        <h2 #introHeading>
          I create logos and brand identities that make brands stand out and
          shine.
        </h2>
        <p #introText>
          Hey there, I'm Ahmad, a creative wizard specializing in crafting sleek
          and powerful logos and brand identities. My secret sauce? A love for
          all things minimalistic, where less is definitely more. I'm all about
          using colors, shapes, and icons to tell stories, make serious magic
          and make your brand shine. I'm a firm believer in the art of subtlety
          and simplicity. By tapping into the psychology of color, the symbolism
          of shapes, and the language of visuals, I can dig deep into awesome
          layers that you can reach out and touch. Let's go on this creative
          design magic together!
        </p>
      </div>

      <div class="aboutme-card stats-card" #statsContainer>
        <div class="stats-number" #statsNumber>100+</div>
        <div class="stats-text" #statsText>
          I have worked with more than 100+ clients worldwide
        </div>
      </div>

      <div class="aboutme-card experience-card" #experienceContainer>
        <div class="stats-number" style="color: #897136" #experienceNumber>
          10+
        </div>
        <div class="stats-text" style="color: #897136" #experienceText>
          Years of experience
        </div>
      </div>

      <div class="aboutme-card vision-card" #visionContainer>
        <p #visionText>
          I listen to your <em>vision</em>: What are you passionate about? How
          can we create a <em>brand</em> that reflects your <em>values</em> and
          attracts your customers?
        </p>
      </div>

      <div class="aboutme-card portfolio-card" #portfolioContainer>
        <p #portfolioText>
          My work has been <em>featured</em> on many design platforms and design
          books, such as <em>Behance, Dribbble, Logo Lounge</em> and more.
        </p>
      </div>

      <div class="aboutme-card views-card" #viewsContainer>
        <div class="views-number" #viewsNumber>406,735+</div>
        <div class="stats-text" style="color: #9dff91" #viewsText>
          Project views
        </div>
      </div>
    </div>
  </div>
</section>
