<div class="container">
  <app-navbar />
  <section class="logoStore">
    <div class="logo-marketplace">
      <div class="logo-marketplace-headline">
        <div class="logo-marketplace-header">Shop</div>
        <!-- <div class="cart-icon" (click)="navigateToCart()">
          <div class="cart-count">{{ cartSize }}</div>
          <img src="Images/shopping-bag.png" />
        </div> -->
      </div>
      <div class="logo-grid">
        <div class="logo-card" *ngFor="let item of displayedLogos">
          <div class="logo-image">
            <img
              [src]="item.imageSrc"
              [alt]="item.name"
              (click)="openLogo(item)"
            />
          </div>
          <h2 (click)="openLogo(item)">{{ item.name }}</h2>
          <div class="price">
            <span class="original-price" *ngIf="item.originalPrice">
              ${{ item.originalPrice.toFixed(2) }}
            </span>
            <span class="sale-price">${{ item.salePrice.toFixed(2) }}</span>
          </div>
        </div>
      </div>

      <div class="pagination" *ngIf="totalPages > 1">
        <button
          class="prev-btn"
          [disabled]="currentPage === 1"
          (click)="changePage('prev')"
        >
          &lt;
        </button>
        <div class="page-numbers">
          <span
            *ngFor="let page of getPagesArray()"
            [class.active]="page === currentPage"
            (click)="goToPage(page)"
          >
            {{ page }}
          </span>
        </div>
        <button
          class="next-btn"
          [disabled]="currentPage === totalPages"
          (click)="changePage('next')"
        >
          &gt;
        </button>
      </div>
    </div>
    <div class="cta-section">
      <div class="cta-content">
        <h2>Have something else in mind?</h2>
        <a (click)="customLogoRequest()" class="buy-btn">Custom Logo Request</a>
      </div>
    </div>
  </section>
</div>
