<section class="brandGuide">
  <div class="brand-guide-container" #guideContainer>
    <div>
      <img class="contact-me-header-logo" src="Images/logo.png" #guideLogo />
    </div>

    <h1 class="brand-guide-title" #guideHeadline>Brand Guideline Template</h1>

    <p class="brand-guide-description" #guideText>
      Are you tired of sifting through lackluster brand guidelines? Look no
      further! Our meticulously crafted 80-page brand guideline template is a
      game-changer for designers. Our template exudes elegance, just like a
      high-end design agency. Say goodbye to bland guidelines!
    </p>

    <a href="#" class="brand-guide-cta-button" #guideButton>Buy Template</a>

    <div class="brand-guide-template-preview" #guideImageContainer>
      <img src="Images/template.avif" #guideImage />
    </div>
  </div>
</section>
