<nav class="navbar" #navbar>
  <div class="navbar-content">
    <div class="navbar-left">
      <img src="/Images/navbar-logo.avif" alt="Logo" (click)="scrollToTop()" />
      <a href="/">Haiders Desk</a>
    </div>

    <div class="navbar-right">
      <button class="profile-btn" (click)="openProfile()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="22"
          width="20"
          viewBox="0 0 448 512"
        >
          <path
            fill="#ffffef"
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>
<div class="dashboard-container">
  <div class="sidenav">
    <div
      class="nav-item"
      [class.active]="activeSection === 'dashboard'"
      (click)="setActiveSection('dashboard')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="14"
        width="12.25"
        viewBox="0 0 448 512"
      >
        <path
          fill="#ffffef"
          d="M448 96c0-35.3-28.7-64-64-64L64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320zM256 160c0 17.7-14.3 32-32 32l-96 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l96 0c17.7 0 32 14.3 32 32zm64 64c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l192 0zM192 352c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l32 0c17.7 0 32 14.3 32 32z"
        />
      </svg>
      &nbsp; Dashboard
    </div>
    <div
      class="nav-item"
      [class.active]="activeSection === 'categories'"
      (click)="setActiveSection('categories')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="14"
        width="14"
        viewBox="0 0 512 512"
      >
        <path
          fill="#ffffef"
          d="M500.3 7.3C507.7 13.3 512 22.4 512 32l0 144c0 26.5-28.7 48-64 48s-64-21.5-64-48s28.7-48 64-48l0-57L352 90.2 352 208c0 26.5-28.7 48-64 48s-64-21.5-64-48s28.7-48 64-48l0-96c0-15.3 10.8-28.4 25.7-31.4l160-32c9.4-1.9 19.1 .6 26.6 6.6zM74.7 304l11.8-17.8c5.9-8.9 15.9-14.2 26.6-14.2l61.7 0c10.7 0 20.7 5.3 26.6 14.2L213.3 304l26.7 0c26.5 0 48 21.5 48 48l0 112c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 352c0-26.5 21.5-48 48-48l26.7 0zM192 408a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM478.7 278.3L440.3 368l55.7 0c6.7 0 12.6 4.1 15 10.4s.6 13.3-4.4 17.7l-128 112c-5.6 4.9-13.9 5.3-19.9 .9s-8.2-12.4-5.3-19.2L391.7 400 336 400c-6.7 0-12.6-4.1-15-10.4s-.6-13.3 4.4-17.7l128-112c5.6-4.9 13.9-5.3 19.9-.9s8.2 12.4 5.3 19.2zm-339-59.2c-6.5 6.5-17 6.5-23 0L19.9 119.2c-28-29-26.5-76.9 5-103.9c27-23.5 68.4-19 93.4 6.5l10 10.5 9.5-10.5c25-25.5 65.9-30 93.9-6.5c31 27 32.5 74.9 4.5 103.9l-96.4 99.9z"
        />
      </svg>
      &nbsp; Categories
    </div>
    <div
      class="nav-item"
      [class.active]="activeSection === 'logos'"
      (click)="setActiveSection('logos')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="14"
        width="17.5"
        viewBox="0 0 640 512"
      >
        <path
          fill="#ffffef"
          d="M36.8 192l566.3 0c20.3 0 36.8-16.5 36.8-36.8c0-7.3-2.2-14.4-6.2-20.4L558.2 21.4C549.3 8 534.4 0 518.3 0L121.7 0c-16 0-31 8-39.9 21.4L6.2 134.7c-4 6.1-6.2 13.2-6.2 20.4C0 175.5 16.5 192 36.8 192zM64 224l0 160 0 80c0 26.5 21.5 48 48 48l224 0c26.5 0 48-21.5 48-48l0-80 0-160-64 0 0 160-192 0 0-160-64 0zm448 0l0 256c0 17.7 14.3 32 32 32s32-14.3 32-32l0-256-64 0z"
        />
      </svg>
      &nbsp; Products
    </div>
    <div
      class="nav-item"
      [class.active]="activeSection === 'emails'"
      (click)="setActiveSection('emails')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="14"
        width="14"
        viewBox="0 0 512 512"
      >
        <path
          fill="#ffffef"
          d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
        />
      </svg>
      &nbsp; Notifications
    </div>
    <div
      class="nav-item"
      [class.active]="activeSection === 'admins'"
      (click)="setActiveSection('admins')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="14"
        width="17.5"
        viewBox="0 0 640 512"
      >
        <path
          fill="#ffffef"
          d="M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l448 0c53 0 96-43 96-96l0-320c0-53-43-96-96-96L96 0zM64 96c0-17.7 14.3-32 32-32l448 0c17.7 0 32 14.3 32 32l0 320c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32L64 96zm159.8 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM96 309.3c0 14.7 11.9 26.7 26.7 26.7l56.1 0c8-34.1 32.8-61.7 65.2-73.6c-7.5-4.1-16.2-6.4-25.3-6.4l-69.3 0C119.9 256 96 279.9 96 309.3zM461.2 336l56.1 0c14.7 0 26.7-11.9 26.7-26.7c0-29.5-23.9-53.3-53.3-53.3l-69.3 0c-9.2 0-17.8 2.3-25.3 6.4c32.4 11.9 57.2 39.5 65.2 73.6zM372 289c-3.9-.7-7.9-1-12-1l-80 0c-4.1 0-8.1 .3-12 1c-26 4.4-47.3 22.7-55.9 47c-2.7 7.5-4.1 15.6-4.1 24c0 13.3 10.7 24 24 24l176 0c13.3 0 24-10.7 24-24c0-8.4-1.4-16.5-4.1-24c-8.6-24.3-29.9-42.6-55.9-47zM512 176a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM320 256a64 64 0 1 0 0-128 64 64 0 1 0 0 128z"
        />
      </svg>
      &nbsp; Users
    </div>
    <div
      class="nav-item"
      [class.active]="activeSection === 'orders'"
      (click)="setActiveSection('orders')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="14"
        width="15.75"
        viewBox="0 0 576 512"
      >
        <path
          fill="#ffffef"
          d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
        />
      </svg>
      &nbsp; Orders
    </div>

    <div class="sidenav-btn">
      <button class="logout-btn" (click)="logout()">
        <i
          class="fa-solid fa-arrow-right-from-bracket fa-sm"
          style="color: #005840"
        ></i>
        Logout
      </button>
    </div>
  </div>

  <div class="main-content">
    <div *ngIf="activeSection === 'categories'" class="logos-section">
      <div class="section-header">
        <h2>All Categories</h2>
        <button (click)="toggleAddCategoryForm()" class="add-btn">
          {{ showCategoryForm ? "Cancel" : "Add Category" }}
        </button>
      </div>

      <div
        [@slideInOut]="showCategoryForm ? 'in' : 'out'"
        class="form-container"
      >
        <form
          *ngIf="showCategoryForm"
          [formGroup]="categoryForm"
          (ngSubmit)="onSubmitCategory()"
          class="logo-form"
        >
          <div class="form-grid">
            <div class="form-group">
              <input
                type="text"
                formControlName="name"
                placeholder="Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                formControlName="width"
                placeholder="Width (px)"
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                formControlName="height"
                placeholder="Height (px)"
                required
              />
            </div>
          </div>
          <button
            type="submit"
            [disabled]="!categoryForm.valid"
            class="submit-btn"
          >
            Save Category
          </button>
        </form>
      </div>

      <table class="orders-table" *ngIf="categories.length > 0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Width (px)</th>
            <th>Height (px)</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td data-label="Name">{{ category.name }}</td>
            <td data-label="Width">{{ category.width }}px</td>
            <td data-label="Height">{{ category.height }}px</td>
            <td>
              <button (click)="deleteCategory(category._id)" class="delete-btn">
                <i class="fa-solid fa-trash fa-sm" style="color: #ffffef"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button
          class="page-btn"
          [disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          Previous
        </button>
        <button
          *ngFor="let page of pageNumbers"
          class="page-btn"
          [class.active]="page === currentPage"
          (click)="changePage(page)"
        >
          {{ page }}
        </button>
        <button
          class="page-btn"
          [disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)"
        >
          Next
        </button>
      </div>
    </div>

    <div *ngIf="activeSection === 'logos'" class="logos-section">
      <div class="section-header">
        <h2>All Products</h2>
        <button (click)="toggleAddLogoForm()" class="add-btn">
          {{ showAddLogoForm ? "Cancel" : "Add Logo" }}
        </button>
      </div>

      <div
        [@slideInOut]="showAddLogoForm ? 'in' : 'out'"
        class="form-container"
      >
        <form
          *ngIf="showAddLogoForm"
          [formGroup]="logoForm"
          (ngSubmit)="onSubmitLogo()"
          class="logo-form"
        >
          <div class="form-grid">
            <div class="form-group">
              <input
                type="text"
                formControlName="name"
                placeholder="Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                formControlName="originalPrice"
                placeholder="Original Price (Optional)"
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                formControlName="salePrice"
                placeholder="Sale Price"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                formControlName="description"
                placeholder="Description"
                rows="3"
              />
            </div>
            <div class="form-group">
              <select formControlName="imageSrc" required>
                <option value="">Select Image Source</option>
                <option value="Logos/logo.jpg">Default Logo</option>
                <option value="upload">Upload from Computer</option>
              </select>
            </div>
            <div class="form-group">
              <select formControlName="category" required>
                <option value="">Select a Category</option>
                <option
                  [value]="category._id"
                  *ngFor="let category of categories"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
            <div
              class="form-group"
              *ngIf="logoForm.get('imageSrc')?.value === 'upload'"
            >
              <div
                class="dropzone"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)"
                [class.dragover]="isDragging"
              >
                <div class="dropzone-content">
                  <i class="upload-icon"></i>
                  <span>Drag & drop image here or</span>
                  <label class="upload-button">
                    Browse
                    <input
                      type="file"
                      (change)="onFileSelected($event)"
                      accept="image/*"
                      hidden
                    />
                  </label>
                </div>
                <div *ngIf="selectedFile" class="selected-file">
                  {{ selectedFile.name }}
                </div>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="!logoForm.valid" class="submit-btn">
            Save Logo
          </button>
        </form>
      </div>

      <table class="orders-table" *ngIf="logos.length > 0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Dimensions</th>
            <th>Original Price</th>
            <th>Sale Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let logo of logos">
            <td data-label="Name">{{ logo.name }}</td>
            <td data-label="Category">{{ logo.category.name }}</td>
            <td data-label="Dimensions">
              {{ logo?.category?.width }} x {{ logo?.category?.height }}
            </td>
            <td data-label="Original">
              <span *ngIf="logo.originalPrice">$</span
              >{{ logo.originalPrice ?? "N/A" }}
            </td>
            <td data-label="Sale">${{ logo.salePrice }}</td>
            <td>
              <button (click)="deleteLogo(logo._id)" class="delete-btn">
                <i class="fa-solid fa-trash fa-sm" style="color: #ffffef"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button
          class="page-btn"
          [disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          Previous
        </button>
        <button
          *ngFor="let page of pageNumbers"
          class="page-btn"
          [class.active]="page === currentPage"
          (click)="changePage(page)"
        >
          {{ page }}
        </button>
        <button
          class="page-btn"
          [disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)"
        >
          Next
        </button>
      </div>
    </div>

    <div *ngIf="activeSection === 'emails'" class="emails-section">
      <div class="section-header">
        <h2>Emails</h2>
      </div>

      <div class="email-add-form">
        <input
          type="email"
          [(ngModel)]="newEmail"
          placeholder="Enter email address"
        />
        <button (click)="addEmail()" class="add-btn">Add Email</button>
      </div>

      <table class="orders-table" *ngIf="emails.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of emails">
            <td data-label="ID">{{ email._id }}</td>
            <td data-label="Email">{{ email.email }}</td>
            <td>
              <button (click)="deleteEmail(email._id)" class="delete-btn">
                <i class="fa-solid fa-trash fa-sm" style="color: #ffffef"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button
          class="page-btn"
          [disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          Previous
        </button>
        <button
          *ngFor="let page of pageNumbers"
          class="page-btn"
          [class.active]="page === currentPage"
          (click)="changePage(page)"
        >
          {{ page }}
        </button>
        <button
          class="page-btn"
          [disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)"
        >
          Next
        </button>
      </div>
    </div>

    <div *ngIf="activeSection === 'admins'" class="admins-section">
      <div class="section-header">
        <h2>Admins</h2>
        <button (click)="toggleAddAdminForm()" class="add-btn">
          {{ showAddAdminForm ? "Cancel" : "Add Admin" }}
        </button>
      </div>

      <div
        [@slideInOut]="showAddAdminForm ? 'in' : 'out'"
        class="form-container"
      >
        <form
          *ngIf="showAddAdminForm"
          [formGroup]="adminForm"
          (ngSubmit)="onSubmitAdmin()"
          class="logo-form"
        >
          <div class="form-grid">
            <div class="form-group">
              <input
                type="text"
                formControlName="name"
                placeholder="Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                formControlName="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                formControlName="password"
                placeholder="Password"
                required
              />
            </div>
          </div>
          <button
            type="submit"
            [disabled]="!adminForm.valid"
            class="submit-btn"
          >
            Save Admin
          </button>
        </form>
      </div>

      <table class="orders-table" *ngIf="admins.length > 0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins">
            <td data-label="Name">{{ admin.name }}</td>
            <td data-label="Email">{{ admin.email }}</td>
            <td>
              <button (click)="deleteAdmin(admin._id)" class="delete-btn">
                <i class="fa-solid fa-trash fa-sm" style="color: #ffffef"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button
          class="page-btn"
          [disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          Previous
        </button>
        <button
          *ngFor="let page of pageNumbers"
          class="page-btn"
          [class.active]="page === currentPage"
          (click)="changePage(page)"
        >
          {{ page }}
        </button>
        <button
          class="page-btn"
          [disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)"
        >
          Next
        </button>
      </div>
    </div>

    <div *ngIf="activeSection === 'orders'" class="emails-section">
      <div class="section-header">
        <h2>Orders</h2>
      </div>

      <table class="orders-table" *ngIf="orders.length > 0">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Total ($)</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let i = index">
            <td data-label="Order ID">{{ order._id }}</td>
            <td data-label="User Name">{{ order.username }}</td>
            <td data-label="Email">{{ order.userEmail }}</td>
            <td data-label="Total ($)">${{ order.totalPrice }}</td>
            <td>
              <select (change)="changeOrderStatus(order, $event)">
                <option
                  *ngFor="let status of orderStatusOptions"
                  [value]="status"
                  [selected]="status === order.status"
                >
                  {{ status }}
                </option>
              </select>
            </td>
            <td>
              <button (click)="getOrderDetails(i)" class="save-btn">
                <i class="fa-solid fa-eye fa-sm" style="color: #ffffef"></i>
              </button>
              <button (click)="deleteOrder(order._id)" class="delete-btn">
                <i class="fa-solid fa-trash fa-sm" style="color: #ffffef"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination" *ngIf="orders.length > 0">
        <button
          class="page-btn"
          [disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          Previous
        </button>
        <button
          *ngFor="let page of pageNumbers"
          class="page-btn"
          [class.active]="page === currentPage"
          (click)="changePage(page)"
        >
          {{ page }}
        </button>
        <button
          class="page-btn"
          [disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)"
        >
          Next
        </button>
      </div>
    </div>

    <div *ngIf="activeSection === 'dashboard'" class="emails-section">
      <div class="section-header">
        <h2>Dashboard Overview</h2>
        <span class="current-date">{{ currentDate | date : "MMM d, y" }}</span>
      </div>
      <app-visualization></app-visualization>
    </div>
  </div>
</div>

<div class="lightbox-overlay" *ngIf="isProfileOpen">
  <div class="lightbox-content">
    <button class="close-btn" (click)="closeProfile()">×</button>

    <div class="profile-icon">
      <i class="fa-solid fa-user"></i>
    </div>

    <h2>Profile Details</h2>

    <div class="user-info-container">
      <div class="info-item">
        <div class="info-label">Name</div>
        <div class="info-value">{{ user?.name }}</div>
      </div>
      <div class="info-item">
        <div class="info-label">Email</div>
        <div class="info-value">{{ user?.email }}</div>
      </div>
    </div>

    <button class="lightbox-logout-btn" (click)="logout()">Logout</button>
  </div>
</div>

<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-box">
    <p>Are you sure you want to delete?</p>
    <button (click)="onConfirm(true)">Confirm</button>
    <button (click)="onConfirm(false)">Cancel</button>
  </div>
</div>

<app-order-details
  *ngIf="isOrderDetailsVisible"
  [orderData]="outputOrder"
  [isOpen]="isOrderDetailsVisible"
  (closeModal)="receiveOutput($event)"
></app-order-details>
